@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] p:first-of-type{
	text-align: center;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* Centered dedications */
section[epub|type~="dedication"] p{
	text-align: center;
	text-indent: 0;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* this targets the poster content which is all caps */
#chapter-2-14 blockquote{
	font-variant: small-caps;
}

#chapter-2-14 blockquote header{
	letter-spacing: .2em;
}
#chapter-2-14 blockquote p:last-of-type{
	letter-spacing: .2em;
	text-indent: initial;
	text-align: center;
	margin: 1em;
}

/* Start Letter CSS */
[epub|type~="z3998:letter"] header{
	font-variant: normal; /* override prior CSS for header, not small-caps */
	text-align: initial; /* override prior CSS for header, not centered */
}

/* [epub|type~="z3998:salutation"] + p, */
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

/* [epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
} */

[epub|type~="z3998:salutation"]{
	font-style: italic; /* should be italics per scan */
}

/* End Letter CSS */