@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";


[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* Centered dedications */
section[epub|type~="dedication"] p{
	text-align: center;
	text-indent: 0;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

/* The first paragraph following a salutation not in a header 
must have text indent of 0. See SMEoS 7.7.3.7 
*/
[epub|type~="z3998:letter"] p:first-of-type + p{
	text-indent: 0; 
}



/* end of letters */

/* custom */
/* dates in bridgeheads */
[epub|type~="bridgehead"] p:first-of-type{
	text-align: center;
}

[epub|type~="bridgehead"] p + p{
	text-indent: 0;
}

section[epub|type~="chapter"] > header{
	font-variant: small-caps;
	margin-top: 3em;
}

/* poster in 2-14 */
#chapter-2-14 blockquote{
	font-variant: small-caps;
}

#chapter-2-14 blockquote header{
	letter-spacing: .2em;
	margin-bottom: 1em;
}

#chapter-2-14 blockquote > p:last-of-type{
	letter-spacing: .2em;
	margin-top: 1em;
	text-indent: initial;
	text-align: center;
}

/* custom formatting for letter in 4-17 */
#chapter-4-17 [epub|type~="z3998:letter"] header{
	text-align: initial;
}

#chapter-4-17 [epub|type~="z3998:letter"] > p:last-of-type{
	margin-left: 1em;
	text-indent: 0;
}
/* end of custom */
